{{define "base"}}

    <!DOCTYPE html>
    <!--suppress ALL -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{template "title" .}}- Snippetbox</title>

        <!-- Link to the CSS stylesheet and favicon -->
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        <!-- Also link to some fonts hosted by Google -->
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
            <h1><a href='/'>Snippetbox</a></h1>
        </header>
        <nav>
            <a href='/' {{if eq .CurrentLink "H"}} class="live" {{end}}>Home</a>
            <a href="/latest" {{if eq .CurrentLink "LA"}} class="live" {{end}}>Latest</a>
            <a href="/snippet/create" {{if eq .CurrentLink "CS"}} class="live" {{end}}>Create a Snippet</a>
            <a href="/user/friend/all" {{if eq .CurrentLink "F"}} class="live" {{end}}>Friend Users</a>
            {{if .IsAuthenticated}}
                <a href="/user/logout" {{if eq .CurrentLink "UL"}} class="live" {{end}}>Logout</a>
                <a href="/display/password" {{if eq .CurrentLink "CP"}} class="live" {{end}}>Change Password</a>
            {{else}}
                <a href="/display/login" {{if eq .CurrentLink "LR"}} class="live" {{end}}>Login/Register</a>
            {{end}}
        </nav>
        <main>
            {{template "main" .}}
        </main>
        {{template "footer" .}}
    </body>
    </html>
{{end}}