{{template "base" .}}

{{define "title"}}Friend/Unfriend{{end}}

{{define "main"}}
    <!--suppress ALL -->
    <h2>Users</h2>
    {{if .Users}}
        <table>
            <tr>
                <th>UserName</th>
                <th></th>
            </tr>
            {{$loggedInUser := .User}}
            {{range .Users}}
                <tr>

                    <td>{{.Name}}</td>
                    <td>

                            <form method="post" action="/user/friend">
                                <input name="ID" type="hidden" value="{{.ID}}">
                                {{if ($loggedInUser.IsFriend .)}}
                                    <button class="buttonEdit" type="submit">Un-Friend</button>
                                {{else}}
                                    <button class="buttonEdit" type="submit">&nbsp;&nbsp;&nbsp;Friend</button>
                                {{end}}
                            </form>


                    </td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <h5>Sorry No other users available!</h5>
    {{end}}
{{end}}