{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    {{if .Message}}
        <h3>{{.Message}}</h3>
        <br>
        <br>
    {{end}}
    <h2>Latest Snippets</h2>
        {{if .Snippets}}
            <table>
                <tr>
                    <th>Title</th>
                    <th>Created</th>
                    <th>ID</th>
                </tr>
                {{range .Snippets}}
                    <tr>
                        <td><a href='/snippet/display/{{.ID}}'>{{.Title}}</a></td>
                        <td>{{.Created | displayDate}}</td>
                        <td>#{{.ID}}</td>
                    </tr>
                {{end}}
            </table>
        {{else}}
            <h5>Sorry No Snippets Available Yet!</h5>
        {{end}}
{{end}}