{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    {{if .Message}}
        <!--suppress ALL -->
        <h3>{{.Message}}</h3>
        <br>
        <br>
    {{end}}
    <h2>Latest Snippets</h2>
        {{if .Snippets}}
            <table>
                <tr>
                    <th>Title</th>
                    <th>Created</th>
                    <th>Author</th>
                    <th></th>
                </tr>
                {{$userName := .User.Name}}
                {{range .Snippets}}
                    <tr>
                        <td><a href='/snippet/display/{{.ID}}'>{{.Title}}</a></td>
                        <td>{{.Created | displayDate}}</td>
                        <td>{{if eq $userName .Author}}{{.Author}}{{else}}<a href="/user/friend/{{.Author}}">{{.Author}}</a>{{end}}</td>
                        <td>
                            <form method="get" action="/modify/snippet">
                                <input name="ID" type="hidden" value="{{.ID}}">
                                <button class="buttonEdit" type="submit">Edit</button>
                            </form>
                        </td>
                    </tr>
                {{end}}
            </table>
        {{else}}
            <h5>Sorry No Snippets Available Yet!</h5>
        {{end}}
{{end}}