{{template "base" .}}

{{define "title"}}Change Password{{end}}

{{define "main"}}
    {{if .Errors}}
        <h4 class="error">Errors in Form:</h4>
        <ul>
            {{range .Errors}}
                <li>{{.}}</li>
            {{end}}
        </ul>
        <br>
    {{end}}
    <form action='/change/Password' method='POST'>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
{{/* existing password       */}}
        <div>
            {{ if .Errors.ExtPass}}
                <label class="error" for="extPass" >Password: {{index .Errors "ExtPass"}}</label>
            {{else}}
                <label for="extPass">Password:</label>
            {{end}}
            <input type="password" name="extPass" id="extPass">

        </div>

        <div>
            {{ if .Errors.NewPass}}
                <label class="error" for="newPass" >Password: {{index .Errors "NewPass"}}</label>
            {{else}}
                <label for="newPass">Password:</label>
            {{end}}
            <input type="password" name="newPass" id="newPass">

        </div>

        <div>
            {{ if .Errors.NewPassMatch}}
                <label class="error" for="newPassMatch" >Password: {{index .Errors "NewPassMatch"}}</label>
            {{else}}
                <label for="newPassMatch">Password:</label>
            {{end}}
            <input type="password" name="newPassMatch" id="newPassMatch">

        </div>

        <div>
            <input type='submit' value='Change Password'>
        </div>
    </form>
{{end}}