{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{with .Message}}
        <!--suppress ALL -->
        <div class="flash">{{.}}</div>
    {{end}}
    {{with .Snippet}}
        <div class='snippet'>
            <div class='metadata'>
                <strong>{{.Title}}</strong>
                <span>
                    <form method="get" action="/modify/snippet">
                        <input type="hidden" name="ID" value="{{.ID}}">
                        <button class="buttonEdit" type="submit">Edit</button>
                    </form>

                </span>
            </div>

            <pre><code>{{.Content}}</code></pre>
            <div class='metadata'>
                <time>Created: {{.Created | displayDate}}</time>&nbsp;
                <time>Expires: {{.Expires | displayDate}}</time>
                <span>Author: {{.Author}}</span>
            </div>
        </div>
    {{end}}
{{end}}